@font-face {
    font-family: 'reospec';
    src: url(/reospec/Reospec.otf);
}


body {
    background-image: linear-gradient(to right, rgb(3, 129, 148) , rgb(36, 41, 40));
    background-size:cover;

}

img {
    position: relative;
    width: 70px;
    float:left;
    margin-top:1px;
    cursor: pointer;
}
header  {
    height: 118px;
    text-align: center;
}

nav {
    /* background-color: #0000006d; */
    /*height: 40px;*/
    text-align: right;
    padding-top: 35px;
    padding-bottom: 15px;
    /*padding pang pa kapal*/
}   

main {
    /* height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;

}    

footer {
    background-color: #0000008e;
    height: 100px;
    text-align: center;
    height: 50px;
    border-radius: 10px;
}

footer p{
    padding-top: 19px; /*pwede mo tanggalin ang padding sa footer tas mag add ka ng panibagong padding sa footer*/ 
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-style: italic;
}

.container {
    margin-right: auto; /*kapag margin literal na*/
    margin-left: auto;
    width: 1024px;
}

h1{
    font-size: 90px;
    color: rgb(255, 255, 255);
    font-family: 'reospec';
    font-weight: lighter;
    /* text-decoration: underline overline; */

}

p{
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    margin-top: 10px;
    width: 500px;
}

a{
    color: white;
    font-size: 30px;
    font-family: fantasy;
    text-decoration: none; 
    /*text decoration "none" pantanggal ng underline*/
}

.a1 {
    font-size: 18px;
    color: rgb(247, 242, 242);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

nav a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 13px;
    padding-right: 13px;
}



.click {
    background-color: black;
    padding: 20px;
    width: 100px;
    text-align: center;
    font-size: 15px;
    border-radius: 50px;
    margin-bottom: 50px;
}

.me img{
    float: right;
    width: 360px;
    margin-bottom: 5px;
}